@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amita&display=swap');



:root {
    --bgc-loding:#ade8f4;
    --circle-c:rgba(104, 103, 103, 0.2);
}

* {
    margin:0;
    padding:0;
    font-family: Poppins;
    scroll-behavior: smooth;
}

html {
    overflow: hidden;
}

.showing {
    overflow-x:hidden;
    overflow-y:scroll;
}

html::-webkit-scrollbar {
 width:0.6rem;
}
html::-webkit-scrollbar-track {
    background-color:rgba(19, 37, 49, 0.864);

}

html::-webkit-scrollbar-thumb {
    background-color:white ;
    border-radius: 5px;
}




/* loding code */
.loding {
    width:100vw;
    height:100vh;
    background-color: var(--bgc-loding);

    position:absolute;
    top:0;
    left:0;

    display:grid;
    place-items: center;
}

 .loding-place{
   position:relative;  
   display:none;
} 

#circle {
    width: 40px;
    height:40px;

    border:2.5px solid var(--circle-c);
    border-top-color:#03045e;
    border-bottom-color:#03045e;
    border-radius:50%;

    animation: loding-animation 0.85s linear  infinite   forwards;

}

@keyframes  loding-animation {
    0% {
        transform:rotate(0deg) ;
        border-top-color:#023e8a;
        border-bottom-color:#023e8a;
    }

    50% {
        transform:rotate(180deg) scale(1.3) ;
        border-top-color:#00b4d8;
        border-bottom-color:#00b4d8;
    }
    100% {
        transform:rotate(360deg) ;
        border-top-color:#023e8a;
        border-bottom-color:#023e8a;
    }
}

.vanish-away {
    opacity:0;
    transition: opacity 0.5s ease-out;
}
/* end of loding code */




nav {
    width:70%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    color:#fff;
}
.logo img{
    width:43%;
    margin-top:1.1em;
}


.links ,#check ,#close-logo{
    display:none;
  }

.fas {
    color:#000;
}


.fa-bars {
    display:block;
    cursor:pointer;
    font-size: 1.5rem;
    padding-inline-end:5mm; 
    padding-block-start: 3mm;
}
.fa-times{
    cursor:pointer;
    font-size:1.5rem;
    padding-inline-end:5mm; 
    padding-block-start: 3mm;
}





/* when we check the menu bar */
#check:checked ~.links li {
    list-style: none;
    line-height: 17mm;
}
#check:checked ~ .links a {
    text-decoration: none;
    font-size:1.25rem;
    color:white;
}
#check:checked ~ .links a:hover {
    color:#783cba;
}


#check:checked ~ .links {
   display:flex;
   flex-flow: column nowrap;
   justify-content: center;
   align-items: center;

   position:absolute;
   top:8vh;
   left:0;
   width:100%;
   height:50%;
   margin:0 auto;
   background-color:rgba(19, 37, 49, 0.866);
   box-sizing: border-box;
   z-index:4;

}


#check:checked ~ .menu .fa-bars {
    display:none;
}
#check:checked ~ .menu .fa-times {
    display:block;
 
}
/* end   */



/* media query  of the navigation bar*/
@media screen and (min-width:800px) {
    .menu {
        display:none;
    }
    
    .links {
        display:flex;
        justify-content: space-around;
        margin-right:15mm;
        line-height: 15mm;
  
    }


    .links li {
        margin-inline-start: 5vw;
        list-style: none;
    } 
    .links a {color:#000; text-decoration: none;font-size:1.1rem;}
    .links a:hover {color:#fc8481;} 

    

}

@media screen and (max-width:795px) {
    .links {
        display:flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        position:absolute;
        top:8vh;
        left:-100%;
        width:100%;
        height:50%;
        background-color:rgba(19, 37, 49, 0.866);
        box-sizing: border-box;
        transition:.5s ease-in-out;
        z-index:3;
    }

    .links li {
        list-style: none;
        line-height: 17mm;
    }
    .links a {
        text-decoration: none;
        font-size: 1.2rem;
        color:white;
    }
    .links a:hover {
        color:#783cba;
    }
    html::-webkit-scrollbar {
        width:0.55rem;
    }


    
} 
/* end of media query */







#value-proposition {
    height:100vh;
    margin-bottom:0.1em;
    background-image: url("https://images.unsplash.com/photo-1644620990884-0e6e8743f71a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.landing-content {
    text-align: center;
    width:max-content;
    margin-bottom: 2em;
    margin:0 auto;
    color:#fff;
    padding:6.5em 0;
}

.landing-content p {
    font-size: 3rem;
    width:max-content;
    margin:auto;
}
.landing-content span {
    font-weight: 270;
    font-size:2.5rem;
    display:block;
    
}


.call-to-action {
    width:max-content;
    margin:0.5em auto 0;
    padding:0.5em;
    display: block;
    font-size: 1.5em;
    text-decoration: none;
    color:#fff;
    border:1px solid #fff;
    border-radius: 7px;
    transition: all ease-in-out .1s;
} 
.call-to-action:hover {
    color:#fc8481;
    border:1px solid #fc8481;
}








/* components  */

.description{
    text-align: center;
    font-size:3rem;
}
.description span {
    display:block;
    font-size:1.5rem;
    color:rgba(2, 1, 1, 0.802);
}

.container {
    padding:4rem 0;
}







/* about us section  */
#about-us {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:2em;
}
    .person {    
        width:40%;
        position: relative;
        display:grid;
        place-items: center;
    }
        .social-media {
            display:flex;
            gap:1em;
        }        
        .social-media >* {
            text-decoration:none;
            list-style:none;
        }
        .social-media a{
            font-size:1.5em;
            color:#000; 
            transition:0.3ms ease-in;
        }
        .fa-twitter:hover {
            color:rgb(11, 148, 240);
        }
        .fa-instagram:hover {
            color:rgb(197, 15, 197);
        }
    .statment {
        width:max-content;
        padding:0 2rem;
        position:relative;
    }
    .title-statment {
        font-size: 1.5rem;
        font-weight: 700;
        color:rgb(10, 65, 124);
    }
    .statment p {
        margin-top:1em;
        font-size:1.2rem;
        width:30vw;
    }
.review{
    border:2.4px solid rgba(21, 133, 219, 0.481);
    border-radius:5em;
    padding:1.6em;
    width:70%;
    margin:1.2em auto;
    display:flex;
    justify-content: center;
}

.about-person-wrapper {
    width:max-content;
    height:max-content;
    background-color:rgb(213, 228, 227);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    padding:55px;
    position:relative;
}

.about-person-wrapper::before {
    content:"";
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    border-radius: 50%;
}
.about-person-wrapper:hover::before {
    display:none;
}
.image-detail1::before {
    background-image: url("https://i0.wp.com/www.financialafrik.com/wp-content/uploads/2021/01/Elon-musk-plus-riche-du-monde-pandemique.jpg?fit=1200%2C800&ssl=1");
}
.image-detail2::before{
    background-image: url("https://img-0.journaldunet.com/PujDkZ9YAmFXrZxdCBLKNgiEnRg=/1500x/smart/45776488e7eb4b8080d4ad6e0da4bd74/ccmcms-jdn/11517282.jpg");
}
.image-detail3::before {
    background-image: url("https://m-cdn.phonearena.com/images/article/131223-wide-two_1200/Apple-CEO-Tim-Cook-says-he-might-leave-sometime-over-the-next-ten-years.jpg");
}

.name {
    font-size:1.65rem;
}
.profession {
    font-size:1rem;
    font-weight: 300;
}





/* benefits section  */
#link-benefits {
    height:max-content;
    color:#fff;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtypdf8TmFbkpgmsqUxyF0GfGxhP8IQUJyDlqPNEVppJ16z88NUi9YAnuVwUfVf6WqpSg&usqp=CAU");
    background-size:40%;
    background-color:rgb(23,4,32);
    background-position:center;
    background-repeat: no-repeat;
}

#link-benefits span {
    color:rgb(192, 186, 186);
}


.benefit{
    display:flex;
    justify-content: center;
    gap:1em;
    margin:1.2em 0;
    padding:20px;
    border-radius:16px;
    border:4px solid #d4d4d4;
    background:rgba(8, 23, 233, 0.481);
    transition: all 0.05s ease-in ;
}

.benefit:hover {
    background:transparent;
}


.benefits {
    width:70%;
    margin: auto;
    padding:1em;
}
.benefits h1 {
    font-size:clamp(1rem,1.4rem,2rem);
}








/* features section  */

#features-section {
    text-align: center;
    width:70%;
    margin:0 auto;
}
.features {
    margin:2em auto 0;
    display:flex;
    flex-wrap: wrap;
    gap:1rem;
    padding:2em 0;
}

.features h1 {
    margin:2em 0;
    font-size:1.1rem;
}



.feature{
    flex:1;
    padding:1em 0;
    margin:1.2em 0;
    background:rgba(255, 255, 255, 0.563);
    border:2px solid #c7c5c5;
    border-radius:6px;
    transition: all 0.005s ease-in ;
}
.feature:hover {
    box-shadow: 0 4px 10px  rgb(104, 102, 102),
    4px 0 10px  rgb(104, 102, 102);
}

.feature img {
    /* width:95%; */
    border-radius: 6px;
}


















/* contact section  */
.action {
    width:100%;
    height:89vh;
    
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    
    background-color: rgba(233, 233, 233, 0.981);
    border-top: 1px solid rgba(0, 0, 0, 0.489);
    
   

    
}

.action h1 {
    width:60%;
    text-align: center;
    padding:0.7rem;
    margin-bottom:1.5rem;

    border-bottom:2.5px solid rgb(160, 157, 157);

}

.action p {
    width:55%;
    padding: 1.5rem;
    /* border:2px solid #000; */
    font-size:1.2rem;

}

.contact {
    width:100%;
    margin-block:1rem;

    /* border:2.5px solid rgb(160, 157, 157); */


    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    justify-content:center;
    gap:2.2em;
}

.phone-section {
    width:max-content;
    height:max-content;
    
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1.2em;

    /* border:5px solid #1247ca; */
}

.email-section {
    width:-webkit-max-content;
    width:moz-max-content;
    width:max-content;
    height:-webkit-max-content;
    height:moz-max-content;
    height:max-content;
    
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1.2em;

    /* border:5px solid #783cba; */
}

.fa-phone , .fa-envelope {
    font-size:1.85rem;
    color:#645e5e;
}

.contact a {
    font-size:1.07rem;
    text-decoration: none;
    color:#000;  
}
  
.contact a:hover {
    color:#fa7a7b;
}

@media screen and (min-width:750px) {
    .action {
        height:75vh;
    }

    .contact a {
        font-size: 1.1rem;
    }

    .contact {
        padding-left: none;
        gap:3em;
    }
}
  
    



footer {
    width: 100%;
    height:10vh;
    background: #fc8381;
    

    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.6rem;


    
}

footer .fa-envelope, .fa-magic {
    margin-right:0.5em;
    font-size:1.2rem;
    color:#000;
}


@media screen and (min-width:750px) {
    footer {
            
        height: 5vh; 
        flex-direction:row;
        gap:3rem;
    }
}